<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="Dragonspires">
	<Appenders>
		<RollingRandomAccessFile name="RollingRandomAccessFile"
			fileName="../log/server.log" 
				filePattern="../log/dragonspires-%d{MM-dd-yyyy}-%i.log"
				immediateFlush="true">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="RollingRandomAccessFile" />
		</Root>
	</Loggers>
</Configuration>